Is gender independent of education level? A random sample of 395 people were surveyed and each person was asked to report the highest education level they obtained. Question:  Are gender and education level dependent at 5% level of significance?  In other words, given the data collected above, is there a relationship between the gender of an individual and the level of education that they have obtained?

In [9]:
import numpy as np
import pandas as pd
import scipy.stats as st

In [15]:
observed = pd.DataFrame ({'High School':[60,40],'Bachelors': [54,44],'Masters':[46,53],'PhD':[41,57]}, index = ['Female','Male'])

In [16]:
observed.head()

        Bachelors  High School  Masters  PhD
Female         54           60       46   41
Male           44           40       53   57

In [20]:
expected = pd.DataFrame ({'High School':[50.886,49.114],'Bachelors': [49.868,48.132],'Masters':[50.377,48.623],'PhD':[49.868,48.132]}, index = ['Female','Male'])

In [21]:
expected.head()

        Bachelors  High School  Masters     PhD
Female     49.868       50.886   50.377  49.868
Male       48.132       49.114   48.623  48.132

In [27]:
st.chisquare(observed,f_exp = expected, ddof = 3, axis = 0)

Power_divergenceResult(statistic=array([0.69709319, 3.32364346, 0.77430887, 3.2108616 ]), pvalue=array([nan, nan, nan, nan]))

In [29]:
#calculating the total chi-square value using values from chisquare function
chi = 0.69709319 + 3.32364346 + 0.77430887 + 3.2108616

In [32]:
# 3 degrees of freedom is 7.815 
if chi < 7.815:
    print('Accept Null Hypothesis \n The Categorical Variables are Independent')
else:
    print('Reject Null & accept Alternate Hypotheses \n The Categorical Variable are Dependent')

Reject Null & accept Alternate Hypotheses
 The Categorical Variable are Dependent